body{
    background-image: url("images/birthday.jpg");
    background-position: center;
    
}

h1{
    text-align: center;
    padding: 2rem;
    
}
.container {
    text-align: center;
    padding-bottom: 1rem;
   
}

label{
    display: block;
    padding: 1rem;
    font-size: large;
}

button{
    display: block;
    margin : auto;
    margin-top: 1rem;;
}

button:hover{
    background-color: pink;
}

#output {
    padding: 1rem;
    font-size: x-large;
}